html, body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

h2.city {
  position: absolute;
  left: 25px;
  top: 25px;
}

h3 {
  margin-top: 10px;
}

p.temp {
  font-size: 60px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.icon {
  position: absolute;
  top: 40px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0 20px 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

input:focus {
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
}

.inputContainer{
  position: relative;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #3A4D97;
  color: white;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  padding: 0 30px;
}

.weather-data {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
}

.weather-left {
  width: 420px;
  min-height: 400px;
  background-position: bottom;
  transition: 0.4s;
  border-radius: 25px;
  text-align: left;
  position: relative;
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.1) perspective(1500px) rotateY(20deg);
	transform: scale(1.1) perspective(1500px) rotateY(20deg);
  z-index: 9;
}

.weather-left:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
	transform: scale(1.1) perspective(1500px) rotateY(10deg);
}

.cold {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
}

.normal {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1595494730761-32a4fc26e447?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80");
  background-size: cover;
}

.warm {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1501426026826-31c667bdf23d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2836&q=80");
  background-size: cover;
}

.weather-right {
  max-width: 450px;
  height: 300px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-radius: 0 15px 15px 0;
  text-align: left;
  padding: 25px 30px;
  margin-left: -5px;
}

svg {
  filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .5));
}

.suggestion {
  color: rgba(0, 0, 0, 0.363);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  position: absolute;
  font-size: 13.3px;
  top: 29px;
  left: 22px
}

.errorClass {
  border: 2px solid red;
  transition: 0.5s;
}

path {
  fill: white;
}

@media screen and (max-width: 965px) {
  .container {
    width: 100%;
  }

  .weather-data {
    flex-direction: column;
    padding: 0;
  }

  .weather-left {
    transform: none;
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
  }

  .weather-left:hover {
    cursor: inherit;
    transform: none;
  }

  .icon {
    position: absolute;
    top: inherit;
    left: 0px;
    bottom: 10px;
  }

  p.temp {
    left: inherit;
    right: 25px;
  }

  .weather-right {
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .weather-data {
    flex-direction: column;
    width: 100%;
  }
  .weather-left {
    width: 100%;
    border-radius: 0;
  }

  .weather-right {
    width: 100%;
    min-height: 350px;
    padding: 0;
  }

  h1 {
    margin-top: 20px;
  }

  h1, h2, h3, p {
    padding-left: 20px;
    padding-right: 20px;
  }

  input {
    width: 65%;
    margin-left: 15px;
  }
}